/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
*/

#account {
	text-align: right;
	background-color: darken($color_white,5%);
	font-size: 12px;
	padding: 7px 14px;

	input[type="text"],
	input[type="password"] {
		background-color: $color_white;
	}

	a {
		text-decoration: none;
		font-size: 11px;
		color: lighten($color_black,40%);

		&:hover {
			color: $color_blue;
		}
	}

	input,
	a {
		margin: 0 5px;
	}

	.buttons {
		display: inline;
		border-top: 0;
		margin-top: 0;
		padding: 0;
	}
}

header {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	padding: 20px;
	border-bottom: 1px solid darken($color_white,5%);	
}

#contents {
	padding-bottom: 30px;
}

@media only screen and (max-width: 820px) {
     /* These styles take effect once the screen is 820px or smaller */
     /*#account input[type="text"],
     #account input[type="password"] {
     	width: 150px;
     }*/
     #account {
     	.wrapper {
     		width: auto;
     		margin: 0;
     	}

     	input[type="text"],
     	input[type="password"] {
     		width: 150px;
     	}
     }
}

@media only screen and (max-width: 630px) {
	#account {
	    input[type="text"],
     	input[type="password"] {
     		width: 80%;
     		margin: 0 auto 7px auto;
     		display: block;
     	}

     	.buttons {
     		display: block;
			padding-top: 7px;
			border-top: 1px solid darken($color_white,15%);
			margin-top: 8px;
			text-align: center;
     	}
     }
}