/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$color_black: #000;
$color_white: #fff;

/*
|--------------------------------------------------------------------------
| Sizes
|--------------------------------------------------------------------------
*/
$page_width: 90%;

/*
|--------------------------------------------------------------------------
| Spacing
|--------------------------------------------------------------------------
*/