/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$color_black: #000;
$color_white: #fff;
$color_blue: #0072c6;
$color_red: #ff0000;
$color_darkred: #841818;
$color_green: #22753e;

/*
|--------------------------------------------------------------------------
| Sizes
|--------------------------------------------------------------------------
*/
$page_width: 90%;

/*
|--------------------------------------------------------------------------
| Spacing
|--------------------------------------------------------------------------
*/