	/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$color_black: #000;
$color_white: #fff;
$color_blue: #0072c6;
$color_red: #ff0000;

/*
|--------------------------------------------------------------------------
| Sizes
|--------------------------------------------------------------------------
*/
$page_width: 90%;

/*
|--------------------------------------------------------------------------
| Spacing
|--------------------------------------------------------------------------
*/